main {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 28%,
    rgba(153, 153, 153, 1) 100%
  );
  background-color: #fff;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  .logo img {
    width: 128px;
  }
  ul {
    display: flex;
    list-style: none;
    padding: 0 64px;
    gap: 32px;
    font-family: "Avenir Next", sans-serif;
    font-size: 24px;
  }
}
.content {
  height: 880px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  .left {
    margin-right: 64px;
    .name {
      font-size: 58px;
      font-weight: 400;
      font-family: "Sen", sans-serif;
      font-optical-sizing: auto;
      color: #525252;
      margin-bottom: 0;
    }
    .text {
      font-size: 24px;
      font-weight: 400;
      color: #e08f43;
      font-family: "Sen", sans-serif;
      font-optical-sizing: auto;
      margin-top: 8px;
    }
  }

  .right img {
    width: 512px;
    border-radius: 32px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  }
}
@media screen and (max-width: 650px) {
}
